<% layout("/layouts/boilarplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        
        <div class="mb-3">
          <label for="title" class="form-label">Add Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please Enter title.</div>
        </div>

    
 <div class="mb-3">
<label for="image" class="form-label">Edit Images</label>
<input name="image" type="file" class="form-control" />  <div class="valid-feedback" >
      Looks good!
    </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter Short Description.</div>
        </div>

        <div class="row needs-validation" novalidate>
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Enter Price</label>
            <input name="listing[price]" value="<%= listing.price %>"  class="form-control"   />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter Valid price.</div>
          </div>

          <div class="mb-3 col-8">
            <label for="country" class="form-label">Enter Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter Valid Country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Enter Location</label>
          <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
          <div class="valid-feedback">Beautiful Destination</div>
          <div class="invalid-feedback">Please enter Valid Location.</div>
        </div>

        <br /><br />
        <button class="add btn btn-primary" style="width: 5rem; border-radius: 3rem;">Edit</button>
      </form>
      <br><br><br>
    </div>
  </div>

  <script>
    // Bootstrap validation script
    (function () {
      'use strict';
      const forms = document.querySelectorAll('.needs-validation');
      Array.from(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
</body>
</html>
